@mixin split-content( 

    $image-width: 50%,  // width of .split-image
    $copy-width: 50%,   // width of .split-copy
    $copy-max-width: null,

    $reverse: false,    // orginally it should be image left, copy right. Other way around set this to true

    $max-height-tablet: initial,  // image max height under breakpoint
    $max-height-tablet-visual-area: center,  // [top, bottom, center]

    $copy-vertical-padding: 2rem,
    $copy-vertical-margin: 0,

    $copy-horizontal-padding: 5%, 
    $copy-horizontal-margin: 0,

    $copy-vertical-align: center,  // [top, bottom, center]
    //$copy-horizontal-align: left,  // [left, center, right]
    $copy-text-align: center, // [left, center, right]

    $breakpoint: 768px,
    $gutter: 15px,

    $ul-ol-list-style: initial,
    $ul-ol-padding: initial,
    $ul-ol-margin: initial

){
    display: flex;
    width: 100%;

    @if $copy-vertical-align == top {
        align-items: flex-start;
    } @else if $copy-vertical-align == center {
        align-items: center;
    } @else if $copy-vertical-align == bottom {
        align-items: flex-end;
    }
    @if $reverse == true {
        flex-direction: row-reverse;
    }

    .split-image {
        width: $image-width;
        position: relative;
        @media( max-width: $breakpoint){
            max-height:$max-height-tablet;
            overflow:hidden;

            @if $max-height-tablet != initial {
                display: flex;
                @if $max-height-tablet-visual-area == 'center' {
                    align-items: center; 
                } @else if $max-height-tablet-visual-area == 'top' {
                    align-items: flex-start; 
                } @else if $max-height-tablet-visual-area == 'bottom' {
                    align-items: flex-end; 
                }
                
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .split-copy {
        width: $copy-width;
        padding: $copy-vertical-padding $copy-horizontal-padding;
        margin: $copy-vertical-margin $copy-horizontal-margin;
        box-sizing: border-box;
        text-align: $copy-text-align;

        @if $copy-max-width != null {
            max-width: $copy-max-width;
            margin: $copy-vertical-margin auto;
        }

        /*@if $copy-horizontal-align == left {
            justify-content: flex-start;
        } @else if $copy-horizontal-align == center {
            justify-content: center;
        } @else if $copy-horizontal-align == right {
            justify-content: flex-end;
        }*/

        ul,ol {
            list-style: $ul-ol-list-style;
            padding: $ul-ol-padding;
            margin: $ul-ol-margin;
            li {
                margin-bottom: gutter();
            }
        }
    }


    @media(max-width: $breakpoint){
        flex-direction: column;
        .split-copy {
            padding: $gutter;

            ul,ol{
                margin-left: 0;
            }
        }
        .split-copy,
        .split-image {
            width: 100%;
        }
    }
} 