.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;

	    li{
	    	a{
				width: 40px;
			    height: 40px;
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;

	    		i{
					color: $primary;
					font-size: 25px;
					&:hover {
						color: darken(	$primary, 20%);
					}
	    		}
	    	}
	    }
	}
}


.contact-contact{
	table{
		tr{
			td{
				i{
					@extend .mr-2;
					font-size: 18px;
					padding: 15px;
				    background-color: $secondary;
				    color: #fff;
				    border-radius: 50%;

				    &.fa-map-marker-alt{
				    	padding: 15px 17px;
				    }
				}
				@extend .pb-3;
			}
		}
	}
}

.contact-form{
	.form-disclaimer{
		font-size: 14px;
	}
	.gform_footer{
		text-align: center !important;

		input[type=submit]{
			background-color: $secondary;
			color: #fff;
			@extend .px-4;
			@extend .py-2;
			border: 0;
		}
	}
}

.title{
	color: $gray-700;
	font-size: 1.2rem;
	@extend .mb-1;
	a{
		color: $gray-700;
	}
}

.service-list{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
	>div{
		width: 100%;
		padding: gutter();
		box-sizing: border-box;

		@include media-breakpoint-up(sm){
			width: 50%;
		}

		@include media-breakpoint-up(md){
			width: 33.33%;
		}

		@include media-breakpoint-up(lg){
			width: 20%;
		}

		img{
			width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    object-fit: cover;
		    @extend .mb-3;
		}
	}
}

.buttons{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >a{
    	padding: 12px gutter();
    	border-radius: 0;
    	margin: gutter() / 2;
    	display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		text-align: left;

		img{
			max-width: 40px;
			@extend .mr-2;
		}
    }

    .arrow-right{
    	padding-left: gutter();
    	i{
    		font-size: 35px;
    		@extend .text-secondary;
    	}
    }
}

.cta-block > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	>* {
		margin: 7.5px;
	}
	div, a{
		font-size: 1.2rem;
	}

	div{
		max-width: 500px;
	}

	a{
		@include media-breakpoint-down(sm){
			margin-top: $spacer;
		}
	}
}

.testimonials-list {
	display:flex;
	
	justify-content: space-between;
}

.mason-grid-item { 
	width: calc(100% - 35px);
	margin: 5px;
	padding: 5px;	
	box-sizing: border-box;
	background-color: $secondary;
	border-radius: 10px;

	h4 {
		
	}

	@include media-breakpoint-up(md) {
		width: calc(47% - 20px);
		margin: 10px;
		padding: 10px;
	}

	@include media-breakpoint-up(lg) {
		width: calc(32% - 20px);
	}
	
}

.blog-pagination {
	a {
		padding-right: 10px;
	}
}