.feature-slider-wrap {
  height: 210px;
  position: relative;
  .feature-slider {
    height: 210px;
    display: flex;
    .slick-list {
      height: 210px !important;
      .slick-track {
        height: 100% !important;
        .slide-slide {
          height: 100% !important;
          img {
            height: 100% !important;
          }
        }
      }
    }
    img {
      width: 100%;
      max-height: 550px;
      height: 100%;
      object-fit: cover;
    }
  }
  .overlay_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: flex;
    align-items: center;

    .overlay {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @extend .container;
      @include media-breakpoint-down(sm) {
        background-color: rgba(234, 217, 137, 0.4);
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 75%;
      }

      .h1_title {
        color: #fff;
      }

      .gform_wrapper {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;

        form {
          max-width: 360px;
          margin: 0;
          background-color: $secondary;
          padding: gutter();

          h2.h3 {
            font-size: 17px;
            font-weight: 700;
            color: #fff;
          }

          .gfield.gfield_html {
            margin-top: 0;
          }
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .feature-slider-wrap {
    height: 550px;

    .feature-slider {
      height: 550px;
      .slick-list {
        height: unset !important;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .feature-slider-wrap {
    height: 550px;

    .feature-slider {
      height: 550px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .feature-slider-wrap {
    height: 550px;

    .feature-slider {
      height: 550px;
    }
  }
}
