@media (max-width: 970px) {
    .flow-chart .column-main {
        padding-right: 10px
    }
}

@media (max-width: 910px) {
    .flow-chart .column-main {
        padding-right: 0px
    }
}

.flow-chart .page-title {
    font-weight: 700;
    font-size: 26px;
    text-transform: none;
    text-align: center;
    margin: 0 0 20px
}

@media (max-width: 400px) {
    .flow-chart .page-title {
        font-size: 14px
    }
}

.flow-chart .invlovment-container {
    position: relative
}

.flow-chart .invlovment-container:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 43.3%;
    width: 14.5%;
    height: 2px;
    background: #415156
}

@media (max-width: 984px) {
    .flow-chart .invlovment-container:before {
        left: 44.8%;
        width: 11.5%
    }
}

@media (max-width: 760px) {
    .flow-chart .invlovment-container:before {
        left: 27.8%;
        width: 45.5%;
        top: 11px
    }
}

@media (max-width: 540px) {
    .flow-chart .invlovment-container:before {
        left: 42.8%;
        width: 15.5%
    }
}

@media (max-width: 365px) {
    .flow-chart .invlovment-container:before {
        left: 40.8%;
        width: 18.5%
    }
}

@media (max-width: 330px) {
    .flow-chart .invlovment-container:before {
        left: 45.8%;
        width: 9.5%
    }
}

.flow-chart .involvment {
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    *zoom: 1;
    background: #ead989;
    padding: 5px 8px;
    margin: 0 0 5px
}

.flow-chart .involvment:before,
.flow-chart .involvment:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}

.flow-chart .involvment:after {
    clear: both
}

@media (max-width: 365px) {
    .flow-chart .involvment {
        padding: 5px 4px
    }
}

.flow-chart .involvment span {
    font-weight: 700;
    font-size: 14px;
    color: #006e8d;
    display: inline-block
}

@media (max-width: 910px) {
    .flow-chart .involvment span {
        font-size: 10px
    }
}

@media (max-width: 666px) {
    .flow-chart .involvment span {
        font-size: 8px
    }
}

@media (max-width: 540px) {
    .flow-chart .involvment span {
        font-size: 7px
    }
}

.flow-chart .involvment span.more-involve {
    float: left;
    position: relative
}

.flow-chart .involvment span.more-involve:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -10%;
    width: 10px;
    height: 11px;
    background: url(/wp-content/themes/wp-web-westcoastadr/assets/dist/images/bg-arrow-more-involvement.jpg) center top no-repeat
}

@media (max-width: 760px) {
    .flow-chart .involvment span.more-involve:after {
        top: 1px
    }
}

@media (max-width: 365px) {
    .flow-chart .involvment span.more-involve:after {
        right: -11%
    }
}

.flow-chart .involvment span.less-involve {
    float: right;
    position: relative
}

.flow-chart .involvment span.less-involve:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -9%;
    width: 10px;
    height: 11px;
    background: url(/wp-content/themes/wp-web-westcoastadr/assets/dist/images/bg-arrow-more-involvement.jpg) center top no-repeat
}

@media (max-width: 760px) {
    .flow-chart .involvment span.less-involve:before {
        top: 1px
    }
}

@media (max-width: 365px) {
    .flow-chart .involvment span.less-involve:before {
        left: -11%
    }
}

.flow-chart .catogery-mediation {
    float: left;
    width: 33.3%;
    padding-right: 11px;
    background: #fff url(/wp-content/themes/wp-web-westcoastadr/assets/dist/images/bg-flow-categories.jpg) center top repeat-y
}

.flow-chart .catogery-arbitration {
    float: left;
    width: 33.3%;
    padding-right: 11px;
    background: #fff url(/wp-content/themes/wp-web-westcoastadr/assets/dist/images/bg-flow-categories.jpg) center top repeat-y
}

.flow-chart .catogery-court {
    float: left;
    width: 33.3%;
    padding-right: 0px;
    background: #fff url(/wp-content/themes/wp-web-westcoastadr/assets/dist/images/bg-flow-categories.jpg) center top repeat-y
}

.flow-chart .category-title {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin: 0 0 52px;
    padding: 30px 0;
    text-align: center;
    background: #006e8d;
    text-transform: uppercase
}

@media (max-width: 910px) {
    .flow-chart .category-title {
        font-size: 17px
    }
}

@media (max-width: 400px) {
    .flow-chart .category-title {
        font-size: 12px;
        margin: 0 0 26px
    }
}

.flow-chart .flow-child-element {
    border: 1px solid #415156;
    text-align: center;
    padding: 20px 5px 0px;
    background: #e9f3f5;
    margin: 0 0 52px;
    min-height: 77px
}

@media (max-width: 910px) {
    .flow-chart .flow-child-element {
        padding: 10px 4px 0px
    }
}

@media (max-width: 400px) {
    .flow-chart .flow-child-element {
        min-height: 62px;
        margin: 0 0 26px
    }
}

.flow-chart .flow-child-element h2 {
    font-weight: 700;
    font-size: 14px;
    color: #006e8d;
    margin: 0
}

@media (max-width: 910px) {
    .flow-chart .flow-child-element h2 {
        font-size: 12px
    }
}

@media (max-width: 400px) {
    .flow-chart .flow-child-element h2 {
        font-size: 9px
    }
}

.flow-chart .flow-child-element h2 span {
    display: block;
    font-weight: 400;
    padding-top: 3px
}

.flow-chart .judisial-case {
    padding-top: 10px
}

.flow-chart .interim-hearings {
    padding-top: 8px
}

@media (max-width: 910px) {
    .flow-chart .interim-hearings {
        padding: 8px 0px 0px
    }
}

.flow-chart .catogery-mediation .flow-child-element-last {
    margin: 0 0 315px
}

@media (max-width: 400px) {
    .flow-chart .catogery-mediation .flow-child-element-last {
        margin-bottom: 203px
    }
}

.flow-chart .catogery-arbitration .flow-child-element-last {
    margin: 0 0 186px
}

@media (max-width: 400px) {
    .flow-chart .catogery-arbitration .flow-child-element-last {
        margin-bottom: 114px
    }
}

.flow-chart .catogery-court .flow-child-element-last {
    margin: 0 0 55px
}

@media (max-width: 400px) {
    .flow-chart .catogery-court .flow-child-element-last {
        margin-bottom: 26px
    }
}

.flow-chart .flow-child-element-duration h2 {
    font-weight: 700;
    font-size: 15px;
    color: #006e8d;
    padding: 15px 0;
    background: #ead989;
    text-align: center;
    margin: 0 0 20px
}

@media (max-width: 400px) {
    .flow-chart .flow-child-element-duration h2 {
        font-size: 9px;
        padding: 11px 0
    }
}

.flow-chart .flow-child-element-final {
    padding: 30px 0 0;
    min-height: 78px;
    background: #006e8d;
    text-align: center
}

@media (max-width: 400px) {
    .flow-chart .flow-child-element-final {
        padding: 15px 0 0;
        min-height: 45px
    }
}

.flow-chart .flow-child-element-final h2 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin: 0
}

@media (max-width: 910px) {
    .flow-chart .flow-child-element-final h2 {
        font-size: 15px
    }
}

@media (max-width: 400px) {
    .flow-chart .flow-child-element-final h2 {
        font-size: 10px
    }
}

.flow-chart .flow-catogories-top-image {
    max-width: 100%;
    display: block
}

@media (max-width: 760px) {
    .flow-chart .flow-catogories-top-image {
        width: 100%
    }
}

.flow-chart .flow-categories {
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    *zoom: 1
}

.flow-chart .flow-categories:before,
.flow-chart .flow-categories:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}

.flow-chart .flow-categories:after {
    clear: both
}

@media (max-width: 760px) {
    .flow-chart .flow-categories {
        margin: 0 0 30px
    }
}
