.team-list{
	display: flex;
	flex-wrap: wrap;
	>div{
		width: 100%;
		box-sizing: border-box;
		@extend .px-3;
		@extend .mb-3;

		@include media-breakpoint-up(sm){
			width: 50%;
		}

		@include media-breakpoint-up(md){
			width: 25%;
		}

		>a{
			display: inline-block;
			width: 100%;

			img{
				width: 100%;
			}
			h2{
				@extend .mt-2;
			}
		}
	}
}