// UL container
.widget-area{
	padding-top: map-get($spacers, 3) ;
	padding-bottom:  map-get($spacers, 3);
}

// Default widget
.widget{
	// @include myoutline(red);
	margin-bottom:  map-get($spacers, 3);

	.widget-title{
		border: solid 1px $primary;
		background-color: $primary;
		color: #fff;
		padding: map-get($spacers, 2);
		font-size: $font-size-lg;
		text-transform: uppercase;
		font-weight: map-get($font-weights, medium);
	}

	& > ul{
		@include list-unstyled;
		margin: 0 12px 0 12px;
	}
}

.widget_search{

	form.search-form{
		// @include myoutline(red);
		display: flex;
		justify-content: center;

		label{
			width: susy-percentage(80%);
			margin-bottom: 0;
		}

		.search-submit{
			width: susy-percentage(40%);
			@extend .btn;
			@extend .btn-primary;
		}

		.search-field{
			height: 40px;
		}
	}
}

