// ---- CTA
.cta{
	padding: 12px 1.5rem;
	color: #fff;
	display: inline-block;
}

.cta-primary{
	@extend .cta;
	background-color: theme-color('primary');
}

.cta-secondary{
	@extend .cta;
	background-color: theme-color('secondary')
}

.img-full{
	width:100%;
	display:block;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}

.bg-gray-light{
	background-color: $gray-200;
}

.mt-0-force{
	margin-top: 0!important;
}