html{
	font-size: 16px;
	// font-family: $font-family-base;
	// line-height: $line-height-base;
	// font-weight: $font-weight-base;
	// -webkit-font-smoothing: antialiased;
}

h1, .h1{
	@include font-size($h1-font-sizes);
}

h2, .h2{
	@include font-size($h2-font-sizes);
}

h3, .h3{
	@include font-size($h3-font-sizes);
}

h4, .h4{
	@include font-size($h4-font-sizes);
}

h5, .h5{
	@include font-size($h5-font-sizes);
}

h6, .h6{
	@include font-size($h6-font-sizes);
}  
 

