// Site Content

img {
  height: auto;
}

.body-noscroll {
  overflow-y: hidden;
}

body {
  word-wrap: break-word;
  .contact-contact a {
    word-break: break-word;
  }
}

.error404 #primary {
  @include media-breakpoint-up(md) {
    padding-top: 200px;
  }
}

.single-post main {
  padding-top: 165px !important;
}

.blog aside section > ul > li,
.single aside section > ul > li {
  margin-bottom: 15px;
}

.recent-post .site-content {
  // width: susy-span(12);

  .body-copy {
    // @extend .container;
    // padding: 0 gutter();
  }
}

#menu-secondary-menu li:last-child {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

.navbar {
  @include media-breakpoint-down(sm) {
    overflow-y: scroll;
    align-items: flex-start;
    max-height: 100%;
  }
}

li .dropdown-menu {
  @include media-breakpoint-down(sm) {
    background-color: transparent;
    .active {
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
}

.dropdown-item {
  @include media-breakpoint-down(sm) {
    white-space: normal;
    &:hover {
      background-color: #ead989;
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
}

// Blog and default archive pages
// Blog and default archive pages
.sidebar-main {
  // @include myoutline(blue);
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 gutter() gutter() gutter();
  @include media-breakpoint-up(sm) {
    padding: 0 0 gutter() 0;
  }

  .sidebar-body {
    // @include myoutline(red);
    width: span(12);
    @include media-breakpoint-up(sm) {
      width: span(12);
    }
    @include media-breakpoint-up(md) {
      width: span(8);
    }
    @include media-breakpoint-up(lg) {
      width: span(9);
    }
  }

  .widget-area {
    // @include myoutline(red);
    display: none;
    @include media-breakpoint-up(md) {
      width: span(4);
      display: block;
    }
    @include media-breakpoint-up(lg) {
      width: span(3);
    }
  }
}

// Blog and default archive pages
.blog {
  .site-content {
    // @include myoutline(blue);
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 gutter() gutter() gutter();
    @include media-breakpoint-up(sm) {
      padding: 0 0 gutter() 0;
    }

    .body-copy {
      // @include myoutline(red);
      width: span(12);
      @include media-breakpoint-up(sm) {
        width: span(12);
      }
      @include media-breakpoint-up(md) {
        width: span(8);
      }
      @include media-breakpoint-up(lg) {
        width: span(9);
      }
    }

    .widget-area {
      @extend .mt-5;
      @extend .pt-0;
      // @include myoutline(red);
      width: span(12);
      @include media-breakpoint-up(sm) {
        width: span(12);
      }
      @include media-breakpoint-up(md) {
        width: span(4);
      }
      @include media-breakpoint-up(lg) {
        width: span(3);
      }
    }
  }
}

ul {
  margin: 0;
  margin-bottom: gutter();
  padding: 0 20px;
}

table {
  td {
    padding: 5px 10px;
  }
}

img {
  max-width: 100%;
  margin: auto;
}

.team-list {
  padding-top: 2.5rem;
}

.charitable-content .container p img {
  height: auto;
  @include media-breakpoint-down(xs) {
    height: 175px;
    object-fit: cover;
  }
}

.contact-contact a {
  color: #343a40;
}

// @media only screen and (min-width: 641px) {
// 	.gform_wrapper li.gfield.gf_list_5col ul.gfield_radio li {
// 		width: 30% !important;
// 	}
// }

// menu issue
@include media-breakpoint-down("sm") {
  .main-navigation {
    position: relative;
    .navbar {
      position: absolute;
      width: 100%;
      background: #292929;
    }
  }
}
