.flexible-item{
	display: flex;

	&.grid-layout{
		.image{
			img{
				width: 100%;

				@include media-breakpoint-down(md){
					margin-bottom: $spacer;
				}
			}
		}
		.col{
			@include media-breakpoint-up(md){
				order: initial;
			}
		}
	}

	&.grid-list{
		.list{
			>div{
				@include media-breakpoint-down(md){
					margin-bottom: $spacer;
				}

				img{
					max-width: 100%;
				}
			}
		}
	}

	&.text-block{
		h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
			&:not(:first-child){
				margin-top: 2.25rem;
			}
		}
	}
} 