// Site Footer 
.site-footer{

	font-size: 15px;
	border-top: 1px solid;

	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h3.h4{
			font-size: 15px;
			font-weight: 500;
			a{
				color: initial;
			}
		}

		.footer-services{
			width: calc( 100% - 345px );
			font-size: 13px;

			@media(max-width: 1000px){
				width: 100%;
			}
			.footer-services-list{
				display: flex;
				flex-wrap: wrap;
				text-transform: uppercase;
				>div{
					width: 50%;
					padding: 2.5px 10px 2.5px 0;
					box-sizing: border-box;

					@media(max-width: 1000px){
						width: 100%;
					}
				}
			}
		}
		.footer-contact{
			width: 300px;

			@media(max-width: 1000px){
				width: 100%;
				margin-top: gutter();
			}
		}
	}

		.footer-logo{
			margin-top: gutter();
			margin-left: -15px;
			img{
				width: 100%;
				max-width: 300px;
				margin-right: 80px;
				margin-left: 0px;
				@include media-breakpoint-down(md) {
					max-width: 225px;
					margin-right: 0px;
				}
				@include media-breakpoint-down(sm) {
					max-width: 100%;
					margin-right: 0px;
				}
			}
		}

}

.scroll-top {
	position: fixed;
	bottom: 15px;
	right: 10px;
	background-color: $primary;
	padding: 9px 13px;
	color: $white;
	display:block;
	@include media-breakpoint-up(md) {
		display:none;
	}
}

p {
	word-break: break-word;
}

.copyright-text {
	@include media-breakpoint-down(sm) {
		max-width: 100%;
		float:left;
		font-size:12px;
		margin-top: 15px;
		margin-left: 0px !important;
		margin-bottom: 25px;
	}

	@include media-breakpoint-up(lg) {
		max-width: 100%;
		float:left;
		font-size:12px;
		margin-top: 15px;
		margin-left: 0px !important;
		margin-bottom: 25px;
	}

	@include media-breakpoint-up(xxl) {
		float:none !important;
	}
}