#masthead {
  display: block;
  opacity: 1;
}

.site-content {
  padding-top: 105.5px;
}

@media screen and (min-width: 768px) {
  .site-content {
    padding-top: 201.6px;
  }
}

@media screen and (min-width: 1024px) {
  .site-content {
    padding-top: 157.6px;
  }
}

.site-header {
  $header-box-shadow: 0px 4px 9px -4px $gray-700;
  box-shadow: $header-box-shadow;
  z-index: 999;

  .mobile-toggle,
  .navbar-header {
    display: none;
  }

  &.sticky-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $sticky-header-bg-color;
    display: none;

    .mobile-toggle {
      font-size: 25px;
      cursor: pointer;
    }
  }

  .header-content {
    .utility-bar {
      @include font-size(
        $fs-map: $utility-bar-font-size,
        $fs-breakpoints: $grid-breakpoints
      );
      background-color: $utility-bar-background-color;
      padding: $utility-bar-padding;
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }

      > div {
        display: flex;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;

          .header-address {
            color: #fff;

            .fa-map-marker {
              color: theme-color("secondary");
              font-size: 15px;
            }
          }
        }
        .right {
          display: flex;
          align-items: center;

          > div {
            padding-left: 15px;

            span {
              color: #fff;
            }

            i {
              color: theme-color("secondary");
              font-size: 15px;
            }
          }
        }
      }
    }

    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: gutter();
      // @include media-breakpoint-down(sm) {
      // 	box-shadow: 0px 3px 9px $gray-700;
      // }

      .menu-secondary-menu-container {
        #menu-secondary-menu {
          .menu-item {
            a:hover {
              color: theme-color("primary");
            }
          }
        }
      }

      .site-branding {
        .logo {
          width: $header-logo-width;

          @include media-breakpoint-up(sm) {
            width: $header-logo-width-sm;
          }

          @include media-breakpoint-up(md) {
            width: $header-logo-width-md;
          }

          img {
            width: 100%;
            display: block;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        & {
          padding: 0;

          .site-branding {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: gutter() / 2;

            .mobile-toggle {
              display: block;
            }
          }
        }
      }
    }
  }
}

.main-navigation {
  background-color: $navbar-default-bg;
  // @include media-breakpoint-up(sm) {
  // 	box-shadow: 0px 4px 9px -4px $gray-700;
  // }
  nav {
    @include media-breakpoint-down(sm) {
      padding-left: 0px;
      padding-right: 0px;
      #main-navbar {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    .navbar-nav {
      > li {
        > a {
          font-size: 20px;
          color: $navbar-font-color;
          opacity: $navbar-font-opacity;
          text-transform: $navbar-text-format;
          &:hover {
            background-color: theme-color("primary");
            color: theme-color("light");
          }
        }
        .dropdown-menu {
          a {
            font-size: 17px;
            &:hover {
              background-color: theme-color("primary");
              color: theme-color("light");
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .navbar-nav {
      > li {
        > a {
          font-size: 15px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      > li {
        > a {
          font-size: 20px;
        }
      }
    }
  }
}

#menu-secondary-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 0 15px;
    a {
      color: $gray-600;
    }
  }
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 18px;
  > div {
    padding-right: gutter();
    &:last-child {
      padding-right: 0;
    }
  }

  #menu-secondary-menu {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .main-navigation {
    width: 100%;
    background-color: $navbar-bg-color-xs;

    .navbar {
      border: 0;

      #main-navbar {
        .container {
          @include media-breakpoint-down(sm) {
            max-width: none;
            padding-right: 0;
            li {
              > .dropdown-menu {
                padding: 0;
              }
              &.show {
                > .dropdown-toggle {
                  background-color: theme-color("primary");
                }
                > .dropdown-menu {
                  background-color: theme-color("light");
                  a {
                    color: theme-color("dark");
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &:not(:last-child) {
                      border-bottom: 1px solid theme-color("dark");
                    }
                  }
                }
              }
              a {
                padding-left: 1rem;
              }
            }
          }
        }
      }

      .navbar-collapse {
        margin: 0;
        overflow: hidden;
        padding: gutter() 0;

        a {
          color: $navbar-font-color-xs;
          opacity: $navbar-font-opacity-xs;
          text-transform: $navbar-text-format-xs;
        }

        .navbar-nav {
          margin: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #menu-main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

#menu-secondary-menu {
  li:last-of-type {
    background-color: #c0c0c0;
    a {
      color: white;
    }
  }
}

.mobile-utilty {
  background-color: theme-color("primary");
  display: none;
  ul {
    @extend .container;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    li {
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        background-color: theme-color("secondary");
        a {
          color: theme-color("primary");
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .mobile-utilty {
    display: block;
  }
}
